@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #ECEDE9;
  font-family: "Dosis", sans-serif;
}
body .home {
  height: 5400px;
  width: 1920px;
  left: -638px;
  top: -356px;
}
body .about {
  height: 3809px;
  width: 1920px;
  left: 1487px;
  top: -353px;
}
body .recepies {
  height: 6436px;
  width: 1920px;
  left: 3612px;
  top: -356px;
}
body .contact {
  height: 3105px;
  width: 1920px;
  left: 5737px;
  top: -353px;
}

.content {
  margin-left: 148px;
  margin-right: 204px;
}

.navigation-menu {
  margin-top: 73px;
  margin-bottom: 105px;
}
.navigation-menu__row {
  display: flex;
  justify-content: space-around;
}
.navigation-menu__title {
  font-size: 40px;
  color: #2a2b2a;
  padding-top: 20px;
  width: 386px;
  height: 88px;
  text-align: center;
  border: 2px solid #2a2b2a;
}
.navigation-menu__title h1 {
  color: #2A3D45;
}
.navigation-menu__title:hover {
  background-color: #93C8AA;
  transition: 0.4s;
}
.navigation-menu__title:hover h1 {
  color: #2A3D45;
  transition: 0.4s;
}
.navigation-menu__title:active {
  background-color: #EE9344;
  transition: 0.4s;
}
.navigation-menu__title:active h1 {
  color: #2A3D45;
  transition: 0.4s;
}
.navigation-menu__links {
  text-align: center;
}
.navigation-menu .nav-menu__columns {
  padding-top: 25px;
  text-align: center;
  height: 88px;
}
.navigation-menu .nav-menu__list {
  display: inline-block;
  margin-right: 36px;
  padding: 9px;
  border-radius: 5px;
}
.navigation-menu .nav-menu__list span {
  font-size: 32px;
  font-weight: 600;
  color: #2a3d45;
}
.navigation-menu .nav-menu__list:hover {
  background-color: #93C8AA;
  transition: 0.4s;
}
.navigation-menu .nav-menu__list:hover span {
  color: #2A3D45;
  transition: 0.4s;
}
.navigation-menu .nav-menu__list:active {
  background-color: #ECEDE9;
  transition: 0.4s;
}
.navigation-menu .nav-menu__list:active span {
  color: #EE9344;
  transition: 0.4s;
}
.footer__image {
  margin-bottom: 78px;
}
.footer__image ul {
  display: flex;
  justify-content: space-around;
}
.footer__head {
  margin-bottom: 88px;
  display: flex;
  justify-content: space-around;
}
.footer__head-title {
  font-size: 32px;
  text-align: center;
  color: #000;
  font-weight: 600;
  padding-top: 20px;
}
.footer__head-list li {
  text-align: center;
  display: inline-block;
}
.footer__head-list li img {
  margin-right: 25px;
}
.footer__head-list .media2 {
  transform: translateY(5px);
}
.footer__head-list .media3 {
  transform: translateY(-7px);
}
.footer__head-list .media4 {
  transform: translateY(5px);
}
.footer__head-btn {
  width: 386px;
  height: 88px;
  border: 2px solid #2a2b2a;
  text-align: center;
  padding-top: 20px;
}
.footer__head-btn span {
  font-size: 40px;
  color: #2a2b2a;
}
.footer__head-btn:hover {
  background-color: #93C8AA;
  transition: 0.4s;
}
.footer__head-btn:hover span {
  color: #2A3D45;
  transition: 0.4s;
}
.footer__head-btn:active {
  background-color: #EE9344;
  transition: 0.4s;
}
.footer__head-btn:active span {
  color: #2A3D45;
  transition: 0.4s;
}
.footer__main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color: #2A3D45;
  color: #ECEDE9;
  padding-bottom: 50px;
}
.footer__main-list1 {
  margin-top: 43px;
  font-size: 22px;
  color: #ecede9;
}
.footer__main-list1 li {
  margin-bottom: 8px;
}
.footer__main-list1 li:hover span {
  color: #EE9344;
  transition: 0.4s;
}
.footer__main-list1 li:active span {
  color: #EE9344;
  transition: 0.4s;
}
.footer__main-list1 span {
  color: #ecede9;
}
.footer__main-list2 {
  margin-top: 33px;
  font-size: 19px;
  color: #ecede9;
}
.footer__main-list2 li {
  margin-bottom: 12px;
  padding: 5px;
  border-radius: 7px;
}
.footer__main-list2 li:hover {
  background-color: #93C8AA;
  color: #2A3D45;
  transition: 0.3s;
}
.footer__main-list2 li:hover span {
  color: #2A3D45;
  transition: 0.3s;
}
.footer__main-list2 li:active {
  background-color: #EE9344;
  transition: 0.3s;
}
.footer__main-list2 span {
  color: #ECEDE9;
}
.footer__main-btn {
  width: 386px;
  height: 88px;
  border: 2px solid #ecede9;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  transform: translate(230px, 50px);
}
.footer__main-btn span {
  color: #ecede9;
}
.footer__main-btn:hover {
  background-color: #EE9344;
  transition: 0.4s;
}
.footer__main-btn:hover span {
  color: #2A3D45;
  transition: 0.4s;
}
.footer__main-btn:active {
  background-color: #93C8AA;
  transition: 0.4s;
}
.footer__main-btn:active span {
  color: #2A3D45;
  transition: 0.4s;
}
.footer__main-logo {
  transform: translate(-600px, 50px);
}
.footer__main-logo img {
  width: 100px;
  height: 100px;
}

.footer__about {
  transform: translateY(-1000px);
}

.home-content-head__title {
  font-size: 48px;
  padding-top: 80px;
  text-align: right;
  color: #2a3d45;
  font-weight: 800;
  height: 317px;
  width: 600px;
  left: 476px;
  top: 312px;
  transform: translate(280px, 200px);
  background: url("/assets/img/home/home-content-head/text-bg.png") 80px 0px no-repeat;
}
.home-content-head__images {
  transform: translateY(-120px);
}
.home-content-head__subscribe {
  height: 344px;
  width: 1514px;
  left: 202px;
  top: 1017px;
  background-color: #2A3D45;
  border: 1px solid #2A3D45;
}
.home-content-head__subscribe p {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #93c8aa;
}
.home-content-head__subscribe-title {
  margin-top: 98px;
  margin-bottom: 26px;
}
.home-content-head__subscribe-mail {
  display: flex;
  justify-content: center;
}
.home-content-head__subscribe-mail .mail-input {
  width: 646px;
  height: 75px;
  text-align: right;
  align-items: center;
  background-color: #ecede9;
  font-size: 32px;
  font-weight: 600;
  color: #2A3D45;
  padding-right: 19px;
}
.home-content-head__subscribe-mail .mail-input::-moz-placeholder {
  font-size: 32px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  padding-right: 19px;
}
.home-content-head__subscribe-mail .mail-input:-ms-input-placeholder {
  font-size: 32px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  padding-right: 19px;
}
.home-content-head__subscribe-mail .mail-input::placeholder {
  font-size: 32px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  padding-right: 19px;
}
.home-content-head__subscribe-mail .btn {
  transform: translate(-3px, 7px);
  width: 311px;
  height: 75px;
  background-color: #ee9344;
  text-align: center;
  font-size: 48px;
  color: #2a3d45;
  font-weight: 800;
}
.home-content-head__subscribe-mail .btn:active {
  background-color: #93C8AA;
}

.home-content-main {
  margin-top: 157px;
}
.home-content-main__row {
  text-align: center;
}
.home-content-main__subtitle {
  margin-top: 66px;
  margin-bottom: 129px;
  font-size: 28px;
  text-align: center;
  color: #2a3d45;
  height: 245px;
  width: 1006px;
  margin-left: 250px;
}
.home-content-main__button {
  margin-left: 440px;
  width: 650px;
  height: 111px;
  padding-top: 35px;
}
.home-content-main__button span {
  font-size: 48px;
  color: #EE9344;
  font-weight: 800;
}
.home-content-main__button:hover {
  background-color: #2A3D45;
  transition: 0.3s;
}
.home-content-main__button:active {
  background-color: #93C8AA;
  transition: 0.3s;
}
.home-content-main__button:active span {
  color: #2A3D45;
}

.home-content-main-bot {
  margin-top: 144px;
}
.home-content-main-bot__row {
  display: flex;
  justify-content: space-between;
}
.home-content-main-bot__title {
  transform: translateY(-90px);
  padding-top: 90px;
  font-size: 48px;
  text-align: right;
  color: #2a3d45;
  height: 317px;
  width: 600px;
  left: 199px;
  top: 2857px;
  font-weight: 800;
  background: url("/assets/img/home/home-content-bottom/text-bg.png") 0px 25px no-repeat;
}
.home-content-main-bot__subtitle {
  transform: translateY(-50px);
  margin-left: 72px;
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 46px;
  color: #2a3d45;
  height: 335px;
  width: 876px;
  left: 871px;
  top: 2808px;
}

.home-content-bottom__row {
  height: 1071px;
  width: 1398px;
  left: 212px;
  top: 3264px;
  border-radius: 0px;
}
.home-content-bottom__images {
  display: flex;
}
.home-content-bottom__buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}
.home-content-bottom__buttons p {
  font-size: 48px;
  padding-top: 20px;
  font-weight: 800;
  line-height: 61px;
  color: #ecede9;
  height: 167px;
  width: 277px;
  left: 834px;
  top: 3591px;
  border-radius: 0px;
  text-align: center;
  background-color: rgba(238, 147, 68, 0.75);
  transform: translateY(-60px);
}
.home-content-bottom__buttons p:hover {
  background-color: rgba(147, 200, 170, 0.75);
  color: #2A3D45;
  transition: 0.3s;
}
.home-content-bottom__text {
  display: flex;
  justify-content: space-between;
  transform: translateY(-30px);
}
.home-content-bottom__text li {
  height: 536px;
  width: 438px;
  left: 225px;
  top: 3799px;
}
.home-content-bottom__text p {
  font-size: 28px;
  color: #2a3d45;
}

.about-head__row {
  display: flex;
  flex-direction: column;
}
.about-head__title {
  font-size: 48px;
  color: #2a3d45;
  height: 317px;
  width: 500px;
  left: 1160px;
  top: 310px;
  font-weight: 800;
  transform: translate(880px, -1100px);
  margin-left: 67px;
  padding-top: 55px;
  background: url("/assets/img/about/main/text-bg.png") no-repeat;
}
.about-head__subtitle {
  font-size: 32px;
  color: #2a3d45;
  height: 728px;
  width: 580px;
  left: 1158px;
  top: 605px;
  transform: translate(880px, -1100px);
  margin-left: 67px;
}

.about-main {
  margin-bottom: 128px;
}
.about-main__row {
  display: flex;
  transform: translateY(-1000px);
}
.about-main__text {
  font-size: 36px;
  color: #2a3d45;
  height: 628px;
  width: 883px;
  left: 227px;
  top: 1424px;
}
.about-bottom {
  margin-bottom: 103px;
  text-align: center;
}
.about-bottom__row {
  transform: translateY(-1000px);
}
.about-bottom__title {
  font-size: 56px;
  text-align: right;
  color: #2a3d45;
  height: 399px;
  width: 676px;
  left: 589px;
  top: 2355px;
  font-weight: 800;
  transform: translate(390px, -40px);
  padding-top: 60px;
  background: url("/assets/img/about/main/text-bg-1.png") no-repeat;
}
.about-bottom__link {
  width: 650px;
  height: 111px;
  background-color: #2A3D45;
  transform: translateX(390px);
  padding-top: 30px;
  font-weight: 800;
}
.about-bottom__link span {
  font-size: 48px;
  color: #93C8AA;
}
.about-bottom__link:active {
  background-color: #93C8AA;
  transition: 0.2s;
}
.about-bottom__link:active span {
  color: #2A3D45;
  transition: 0.2s;
}

.recepies footer {
  position: absolute;
  width: 1516px;
  height: 449px;
  left: 161px;
  top: 5721px;
}

.recepies-title__row {
  background: url("/assets/img/recepies/recepies-title/lines.png") 830px 0px no-repeat;
  padding-top: 31px;
  padding-bottom: 161px;
  padding-right: 300px;
}
.recepies-title h1 {
  font-size: 64px;
  text-align: center;
  color: #2a3d45;
  font-weight: 800;
  line-height: 81px;
}

.recepies-main__top-text {
  font-size: 32px;
  color: #2a3d45;
  position: absolute;
  width: 793px;
  height: 728px;
  left: 110px;
  top: 685px;
}
.recepies-main__top-column {
  position: absolute;
  width: 787px;
  height: 884px;
  left: 109px;
  top: 1110px;
}
.recepies-main__top-list {
  list-style: none;
  margin-bottom: 24px;
  padding-bottom: 11px;
  width: 370px;
}
.recepies-main__top-list p {
  width: 785px;
  font-size: 32px;
  color: #2a3d45;
}
.recepies-main__top-list span {
  padding-left: 550px;
}
.recepies-main__top-list:nth-child(odd) {
  border-bottom: 7px solid #EE9344;
}
.recepies-main__top-list:nth-child(even) {
  border-bottom: 7px solid #93C8AA;
}
.recepies-main__top-btn {
  position: absolute;
  width: 650px;
  height: 111px;
  left: 182px;
  top: 938px;
}
.recepies-main__top-btn a span {
  background-color: #EE9344;
  padding: 25px 161px;
  font-size: 48px;
  color: #2a3d45;
}
.recepies-main__top-btn a span:hover {
  background-color: #93C8AA;
  color: #ECEDE9;
  transition: 0.4s;
}
.recepies-main__top-btn a span:active {
  background-color: #2A3D45;
  color: #EE9344;
  transition: 0.4s;
}
.recepies-main__top-right {
  box-sizing: border-box;
  position: absolute;
  width: 801px;
  height: 879px;
  left: 1033px;
  top: 685px;
}
.recepies-main__bottom-left {
  position: absolute;
  width: 839px;
  height: 1130px;
  left: 87px;
  top: 2108px;
}
.recepies-main__bottom-right {
  position: absolute;
  width: 793px;
  height: 1506px;
  left: 1041px;
  top: 1675px;
}
.recepies-main__bottom-text {
  font-size: 32px;
  color: #2a3d45;
}
.recepies-main__bottom-text p + p {
  margin-top: 50px;
}

.recepies-bottom__header {
  position: absolute;
  width: 1766px;
  height: 588px;
  left: 87px;
  top: 3412px;
}
.recepies-bottom__arrows {
  position: absolute;
  width: 1507px;
  height: 244px;
  left: 208px;
  top: 4096px;
}
.recepies-bottom__mail {
  border: 1px solid red;
  position: absolute;
  width: 1514px;
  height: 344px;
  left: 213px;
  top: 4634px;
  padding-top: 98px;
  text-align: center;
  background-color: #2A3D45;
}
.recepies-bottom__mail p {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #93c8aa;
  margin-bottom: 26px;
}
.recepies-bottom__mail input {
  width: 646px;
  height: 75px;
  background-color: #ecede9;
  transform: translateX(-180px);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
.recepies-bottom__mail input::-moz-placeholder {
  position: absolute;
  width: 616px;
  height: 60px;
  padding-top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
.recepies-bottom__mail input:-ms-input-placeholder {
  position: absolute;
  width: 616px;
  height: 60px;
  padding-top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
.recepies-bottom__mail input::placeholder {
  position: absolute;
  width: 616px;
  height: 60px;
  padding-top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
.recepies-bottom__mail a span {
  position: absolute;
  width: 309px;
  height: 75px;
  padding: 7px 52px 7px 50px;
  font-size: 48px;
  font-weight: 800;
  line-height: 61px;
  color: #2a3d45;
  background-color: #EE9344;
  transform: translateX(-180px);
}
.recepies-bottom__mail a span:active {
  background-color: #93C8AA;
  transition: 0.4s;
}
.recepies-bottom__column {
  position: absolute;
  width: 1582px;
  height: 494px;
  left: 208px;
  top: 5125px;
}
.recepies-bottom__column li {
  display: inline-block;
}
.recepies-bottom__list {
  padding-right: 26px;
}
.recepies-bottom__link {
  transform: translate(100px, -60px);
  width: 277px;
  height: 167px;
  background: rgba(238, 147, 68, 0.75);
  text-align: center;
}
.recepies-bottom__link p {
  width: 121px;
  height: 102px;
  padding-left: 80px;
  padding-top: 25px;
}
.recepies-bottom__link span {
  font-size: 48px;
  color: #ecede9;
  line-height: 61px;
  font-weight: 800;
}
.recepies-bottom__link:active {
  transition: 0.4s;
  background: rgba(147, 200, 170, 0.75);
}
.recepies-bottom__link:active span {
  transition: 0.4s;
  color: #2A3D45;
  opacity: 40%;
}