@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

$color1: #ECEDE9;
$color2: #2A3D45;
$color3: #93C8AA;
$color4: #EE9344;

$border1: 1px solid red;
$border2: 1px solid blue;
$border3: 1px solid green;
$border4: 1px solid pink;

body{
  background-color: $color1;
  font-family: 'Dosis', sans-serif;

  .home{
    height: 5400px;
    width: 1920px;
    left: -638px;
    top: -356px;
  }

  .about{
    height: 3809px;
    width: 1920px;
    left: 1487px;
    top: -353px;    
  }

  .recepies{
    height: 6436px;
    width: 1920px;
    left: 3612px;
    top: -356px;    
  }

  .contact{
    height: 1505px;
    width: 1920px;
    left: 5737px;
    top: -353px;    
  }
}

.content{
  margin-left: 148px;
  margin-right: 204px;
}

.navigation-menu {
  margin-top: 73px;
  margin-bottom: 105px; 

  &__row {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    font-size: 40px;
    color: #2a2b2a;
    padding-top: 20px;
    width: 386px;
    height: 88px;
    text-align: center;
    border: 2px solid #2a2b2a;

    h1{
      color: $color2;
    }
    
    &:hover{
      background-color: $color3;
      transition: 0.4s;

      h1{
        color: $color2;
        transition: 0.4s;
      }
    }

    &:active{
      background-color: $color4;
      transition: 0.4s;

      h1{
        color: $color2;
        transition: 0.4s;   
      }
    }
  }

  &__links {
    text-align: center;
  }

  .nav {
  }
  .nav-menu {

    &__columns {
      padding-top: 25px;
      text-align: center;
      height: 88px;
    }

    &__list {
      display: inline-block;
      margin-right: 36px;
      padding: 9px;
      border-radius: 5px;

      span{
        font-size: 32px;
        font-weight: 600;
        color: #2a3d45;
      }
      
      &:hover{
        background-color: $color3;
        transition: 0.4s;

        span{
          color: $color2;
          transition: 0.4s;
        }
      }

      &:active{
        background-color: $color1;
        transition: 0.4s;
        span{
          color: $color4;
          transition: 0.4s;   
        }
      }
    }

    &__link {
    }

    &__btn {
    }
  }
}

.footer {

  &__row {
  }

  &__image{
    margin-bottom: 78px;

    ul{
      display: flex;
      justify-content: space-around;
    }
  }

  &__head {
    margin-bottom: 88px;
    display: flex;
    justify-content: space-around;
  }

  &__head-title {
    font-size: 32px;
    text-align: center;
    color: #000;
    font-weight: 600;
    padding-top: 20px;
  }

  &__head-list {

    li{
      text-align: center;
      display: inline-block;

      img{
        margin-right: 25px;
      }
    }

    .media1 {
    }
    .media2 {
      transform: translateY(5px);
    }
    .media3 {
      transform: translateY(-7px);
    }
    .media4 {
      transform: translateY(5px);
    }    
  }

  &__head-btn {
    width: 386px;
    height: 88px;
    border: 2px solid #2a2b2a;
    text-align: center;
    padding-top: 20px;

    span{
      font-size: 40px;
      color: #2a2b2a;
    }

    &:hover{
      background-color: $color3;
      transition: 0.4s;

      span{
        color: $color2;
        transition: 0.4s;
      }
    }

    &:active{
      background-color: $color4;
      transition: 0.4s;

      span{
        color: $color2;
        transition: 0.4s;   
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color: $color2;
    color: $color1;
    padding-bottom: 50px;
  }

  &__main-list1 {
    margin-top: 43px;
    font-size: 22px;
    color: #ecede9;

    li{
      margin-bottom: 8px;

      &:hover{
        span{
          color: $color4;
          transition: 0.4s;
        }
      }

      &:active{
        span{
          color: $color4;
          transition: 0.4s;
        }
      }
    }

    span{
      color: #ecede9;
    }

    
  }

  &__main-list2 {
    margin-top: 33px;
    font-size: 19px;
    color: #ecede9;

    li{
      margin-bottom: 12px;
      padding: 5px;
      border-radius: 7px;

      &:hover{
        background-color: $color3;
        color: $color2;
        transition: 0.3s;

        span{
          color: $color2;
          transition: 0.3s;
        }
      }

      &:active{
        background-color: $color4;
        transition: 0.3s;
      }
    }

    span{
      color: $color1;
    }

      
  }

  &__main-btn {
    width: 386px;
    height: 88px;
    border: 2px solid #ecede9;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    transform: translate(230px, 50px);
    
    span{
      color: #ecede9;
    }

    &:hover{
      background-color: $color4;
      transition: 0.4s;

      span{
        color: $color2;
        transition: 0.4s;
      }
    }

    &:active{
      background-color: $color3;
      transition: 0.4s;

      span{
        color: $color2;
        transition: 0.4s;
      }
    }
  }

  &__main-logo {
    transform: translate(-600px,50px);

    img{
      width: 100px;
      height: 100px;
    }
  }
}

.footer__about{
  transform: translateY(-1000px);
}

.home-content-head {

  &__row {
  }

  &__title {
    font-size: 48px;
    padding-top: 80px;
    text-align: right;
    color: #2a3d45;
    font-weight: 800;
    height: 317px;
    width: 600px;
    left: 476px;
    top: 312px;
    transform: translate(280px,200px);
    background: url('/assets/img/home/home-content-head/text-bg.png')80px 0px no-repeat;
  }

  &__images {
    transform: translateY(-120px);
  }

  &__subscribe {
    height: 344px;
    width: 1514px;
    left: 202px;
    top: 1017px;
    background-color: $color2;    
    border: 1px solid $color2;

    p{
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      color: #93c8aa;
    }
  }

  &__subscribe-title {
    margin-top: 98px;
    margin-bottom: 26px;
  }

  &__subscribe-mail {
    display: flex;
    justify-content: center;

      .mail-input{
        width: 646px;
        height: 75px;
        text-align: right;
        align-items: center;
        background-color: #ecede9;
        font-size: 32px;
        font-weight: 600;
        color: $color2;
        padding-right: 19px;
        
        &::placeholder{
          font-size: 32px;
          text-align: right;
          color: rgba(0, 0, 0, 0.4);
          font-weight: 600;
          padding-right: 19px;
        }
      }

      .btn{
        transform: translate(-3px, 7px);
        width: 311px;
        height: 75px;
        background-color: #ee9344;
        text-align: center;
        font-size: 48px;
        color: #2a3d45;
        font-weight: 800;

        &:active{
          background-color: $color3;
        }
    }
  }
}

.home-content-main {
  margin-top: 157px;

  &__row {
    text-align: center;
  }

  &__image {
  }

  &__subtitle {
    margin-top: 66px;
    margin-bottom: 129px;
    font-size: 28px;
    text-align: center;
    color: #2a3d45;
    height: 245px;
    width: 1006px;
    margin-left: 250px;
  }

  &__button {
    margin-left: 440px;
    width: 650px;
    height: 111px;
    padding-top: 35px;

    span{
      font-size: 48px;
      color: $color4;
      font-weight: 800;
    }

    &:hover{
      background-color: $color2;
      transition: 0.3s;
    }

    &:active{
      background-color: $color3;

      span{
        color: $color2;
      }
      transition: 0.3s;
    }
  }
}

.home-content-main-bot {
  margin-top: 144px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    transform: translateY(-90px);
    padding-top: 90px;
    font-size: 48px;
    text-align: right;
    color: #2a3d45;
    height: 317px;
    width: 600px;
    left: 199px;
    top: 2857px;
    font-weight: 800;
    background: url('/assets/img/home/home-content-bottom/text-bg.png')0px 25px no-repeat;  
  }

  &__subtitle {
    transform: translateY(-50px);
    margin-left: 72px;
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 46px;
    color: #2a3d45;
    height: 335px;
    width: 876px;
    left: 871px;
    top: 2808px;    
  }
}

.home-content-bottom {

  &__row {
    height: 1071px;
    width: 1398px;
    left: 212px;
    top: 3264px;
    border-radius: 0px;
  }

  &__columns {
  }

  &__images {
    display: flex;
  }

  &__buttons {
    display: flex;
    justify-content: space-around ;
    margin-bottom: 3px;
    
    p{
      font-size: 48px;
      padding-top: 20px;
      font-weight: 800;
      line-height: 61px;
      color: #ecede9;
      height: 167px;
      width: 277px;
      left: 834px;
      top: 3591px;
      border-radius: 0px;
      text-align: center;
      background-color: rgba(238, 147, 68, 0.75);
      transform: translateY(-60px);

      &:hover{
        background-color: rgba(147, 200, 170, 0.75);;
        color: $color2;
        transition: 0.3s;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    transform: translateY(-30px);

    li{
      height: 536px;
      width: 438px;
      left: 225px;
      top: 3799px;
    }
    
    p{
      font-size: 28px;
      color: #2a3d45;
    }
  }
}

.about-head {

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__image {
  }

  &__title {
    font-size: 48px;
    color: #2a3d45;
    height: 317px;
    width: 500px;
    left: 1160px;
    top: 310px;
    font-weight: 800;
    transform: translate(880px,-1100px);
    margin-left: 67px;
    padding-top: 55px;
    background: url('/assets/img/about/main/text-bg.png') no-repeat;
  }

  &__subtitle {
    font-size: 32px;
    color: #2a3d45;
    height: 728px;
    width: 580px;
    left: 1158px;
    top: 605px;
    transform: translate(880px,-1100px);
    margin-left: 67px;    
  }
}
.about-main {
  margin-bottom: 128px;

  &__row {
    display: flex;
    transform: translateY(-1000px);
  }

  &__text {
    font-size: 36px;
    color: #2a3d45;
    height: 628px;
    width: 883px;
    left: 227px;
    top: 1424px;    
  }

  &__image {
  }
}
.about-bottom {
  margin-bottom: 103px;
  text-align: center;

  &__row {
    transform: translateY(-1000px);
  }

  &__title {
    font-size: 56px;
    text-align: right;
    color: #2a3d45;
    height: 399px;
    width: 676px;
    left: 589px;
    top: 2355px;
    font-weight: 800;
    transform: translate(390px,-40px);
    padding-top: 60px;
    background: url('/assets/img/about/main/text-bg-1.png') no-repeat;
  }

  &__link {
    width: 650px;
    height: 111px;
    background-color: $color2;
    transform: translateX(390px);
    padding-top: 30px;
    font-weight: 800;

    span{
      font-size: 48px;
      color: $color3;
    }

    &:active{
      background-color: $color3;
      transition: 0.2s;

      span{
        color: $color2;
        transition: 0.2s;
      }
    }
  }
}

.recepies{
  footer{
    position: absolute;
    width: 1516px;
    height: 449px;
    left: 161px;
    top: 5721px;
    
  }
}

.recepies-title {

  &__row {
    background: url('/assets/img/recepies/recepies-title/lines.png') 830px 0px no-repeat;
    padding-top: 31px;
    padding-bottom: 161px;
    padding-right: 300px;
  }

  h1{
    font-size: 64px;
    text-align: center;
    color: #2a3d45;
    font-weight: 800;
    line-height: 81px;
  }
}
.recepies-main {

  &__top {
  }

  &__top-left {
  }

  &__top-text {
    font-size: 32px;
    color: #2a3d45;
    position: absolute;
    width: 793px;
    height: 728px;
    left: 110px;
    top: 685px;
    
  }

  &__top-column {
    position: absolute;
    width: 787px;
    height: 884px;
    left: 109px;
    top: 1110px;
  }

  &__top-list {
      list-style: none;
      margin-bottom: 24px;
      padding-bottom: 11px;
      width: 370px;

      p{
        width: 785px;
        font-size: 32px;
        color: #2a3d45;
      }

      span{
        padding-left: 550px;
      }
      
      &:nth-child(odd){
        border-bottom: 7px solid $color4;
      }

      &:nth-child(even){
        border-bottom: 7px solid $color3;
      }
  }

  &__top-btn {
    position: absolute;
    width: 650px;
    height: 111px;
    left: 182px;
    top: 938px;
      
    a{
      
      span{
        background-color: $color4;
        padding: 25px 161px;
        font-size: 48px;
        color: #2a3d45;

        &:hover{
          background-color: $color3;
          color: $color1;
          transition: 0.4s;
        }

        &:active{
          background-color: $color2;
          color: $color4;
          transition: 0.4s;
        }
      }

      
    }
  }

  &__top-right {
    box-sizing: border-box;

    position: absolute;
    width: 801px;
    height: 879px;
    left: 1033px;
    top: 685px;
  }

  &__bottom {
  }

  &__bottom-left {
    position: absolute;
    width: 839px;
    height: 1130px;
    left: 87px;
    top: 2108px;
  }

  &__bottom-image {
      
  }

  &__bottom-right {
    position: absolute;
    width: 793px;
    height: 1506px;
    left: 1041px;
    top: 1675px;
    
  }

  &__bottom-text {
    font-size: 32px;
    color: #2a3d45;

    p + p{
      margin-top: 50px;
    }
  }
}
.container {
}
.recepies-bottom {

  &__header {
    position: absolute;
    width: 1766px;
    height: 588px;
    left: 87px;
    top: 3412px;    
  }

  &__arrows {
    position: absolute;
    width: 1507px;
    height: 244px;
    left: 208px;
    top: 4096px;
  }

  &__mail {
    border: $border1;
    position: absolute;
    width: 1514px;
    height: 344px;
    left: 213px;
    top: 4634px;

    padding-top: 98px;
    text-align: center;
    background-color: $color2;

    p{
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      color: #93c8aa;
      margin-bottom: 26px;
    }

    input{
      width: 646px;
      height: 75px;
      background-color: #ecede9;
      transform: translateX(-180px);
      

      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      text-align: right;

      color: rgba(0, 0, 0, 0.4);

      &::placeholder{
        position: absolute;
        width: 616px;
        height: 60px;
        padding-top: 18px;

        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: right;

        color: rgba(0, 0, 0, 0.4);
      }
    }

    a{
      span{
        position: absolute;
        width: 309px;
        height: 75px;
        padding: 7px 52px 7px 50px;

        font-size: 48px;
        font-weight: 800;
        line-height: 61px;
        color: #2a3d45;
        background-color: $color4;

        transform: translateX(-180px);

        &:active{
          background-color: $color3;
          transition: 0.4s;
        }
      }
    }
  }

  &__column {
    position: absolute;
    width: 1582px;
    height: 494px;
    left: 208px;
    top: 5125px;
    
    li{
      display: inline-block;
    }
  }

  &__list {
    padding-right: 26px;
  }

  &__link{
    transform: translate(100px, -60px);

    width: 277px;
    height: 167px;
    background: rgba(238, 147, 68, 0.75);
    text-align: center;

    p{
      width: 121px;
      height: 102px;
      padding-left: 80px;
      padding-top: 25px;
    }

    span{
      
      font-size: 48px;
      color: #ecede9;
      line-height: 61px;
      font-weight: 800;
    }

    &:active{
      transition: 0.4s;
      background: rgba(147, 200, 170, 0.75);

      span{
        transition: 0.4s;
        color: #2A3D45;
        opacity: 40%;
      }
    }
  }
}

.content-contact{
  footer{
  }
}

.contact {

  .container {
    position: absolute;
    width: 1514px;
    height: 1206px;
    left: 212px;
    top: 363px;
    background-color: $color2;
  }

  &__body{
    padding: 94.11px 128px 118.07px 141px;
  }

  &__name {
    margin-bottom: 45.35px;
    
    a{
      position: absolute;
      width: 311px;
      height: 64.17px;
      background: #EE9344;

      span{
        position: relative;
        top: 6px;
        left: 50px;
        font-size: 48px;
        font-weight: 800;
        color: #2a3d45;
      }

      &:hover{
        transition: 0.4s;
        background: $color3;
      }
    }

    input{
      width: 458px;
      height: 64.17px;
      background-color: #ecede9;

      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      text-align: right;

      color: rgba(0, 0, 0, 0.4);

      &::placeholder{
        font-size: 32px;
        text-align: right;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 600;
        padding-right: 19px;
      }
    }
  }

  &__mail {
    margin-bottom: 45.35px;

    a{
      position: absolute;
      width: 311px;
      height: 64.17px;
      background: #EE9344;

      span{
        position: relative;
        top: 6px;
        left: 50px;
        font-size: 48px;
        font-weight: 800;
        color: #2a3d45;
      }

      &:hover{
        transition: 0.4s;
        background: $color3;
      }
    }

    input{
      width: 458px;
      height: 64.17px;
      background-color: #ecede9;

      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      text-align: right;

      color: rgba(0, 0, 0, 0.4);

      &::placeholder{
        font-size: 32px;
        text-align: right;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 600;
        padding-right: 19px;
      }
    }
  }

  &__text {
    margin-bottom: 57.32px;
    position: absolute;
    width: 1245px;
    height: 1153.3px;
    

    textarea{
      width: 1245px;
      height: 600px;
      background-color: #ecede9;
      resize: none;

      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 540px;
      padding-left: 20px;

      color: rgba(0, 0, 0, 0.4);

      &::placeholder{
        opacity: 50%;
      }
      
      &:focus{
        transition: 0.3s;
        border: 3px solid $color4;
      }
    }
  }

  &__btn {
    position: absolute;
    width: 311px;
    height: 64.17px;
    top: 1000px;
    left: 600px;

    a{
      position: absolute;
      width: 311px;
      height: 64.17px;
      background: #93C8AA;
      text-align: center;

      span{
        font-size: 48px;
        color: #2a3d45;
        line-height: 61px;
        font-weight: bold;
      }

      &:hover{
        transition: 0.2s;
        background-color: $color4;
      }

      &:active{
        border-radius: 15px;
      }
    }
  }
}


